body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-image: url(../logos\ y\ fotos/fotomuestra4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
background-color: #d2ffb3;
}

.barra {
    justify-content: space-between;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    top: 0;
    width: 100%;
    box-shadow: 0px 10px 10px 0  rgba(0, 0, 0, 25%);
}

.barra-item {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    transition: background-color 0.5s;
    border-radius: 10px;
    cursor: pointer;
}

.barra-item:hover {
    background-color: #aa858550
}

.barra img {
    height: 60px;
    width: 60px;
}

span {
    font-weight: bold;
    color: rgb(0, 0, 0)
}

h1 {
    margin-left: 10px;
    margin-top: 60px;
}

p {
    margin-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.ft1{
    border-style: double;
    border-width: 10px;
    height: 200px;
    width: 300px;
    margin-left: 50px;
}
.ft2{
    border-style: double;
    border-width: 10px;
    width: 200px;
    margin-left: 130px ;
}
.ft3{
    border-style: double;
    border-width: 10px;
    height: 200px;
    width: 300px;
    margin-left: 120px;
}

.ft4{
    border-style: double;
    border-width: 10px;
    width: 200px;
    margin-left: 90px;
}
.ft5{
    border-style: double;
    border-width: 10px;
    height: 280px;
    width: 200px;
    margin-left: 140px;
}
.ft6{
    border-style: double;
    border-width: 10px;
    width: 250px;
    margin: 65px 0 30px 65px;
}
.ft7{
    border-style: double;
    border-width: 10px;
    width: 200px;
    margin: 30px 0 30px 90px;
}
.fotos{
    flex-direction: column;
    margin: 20px;
}


.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.pie-de-pag {
    height: 100%;
    width: 100%;
    background-color: #353242;
    padding: 55px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
}

.info a {
    padding: 10px;
    margin-bottom: 5px;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.info {
    width: 25%;
    padding: 0 15px;
    
}

.info h3 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 800;
    
}

.info img {
    height: 30px;
}



@media (max-width: 900px){

    .barra{
        width: 100%;
    }
    .barra img{
        height: 60px;
        width: 60px;
    }

    .barra-item{
        flex-direction: column;

    }
}

@media (max-width: 480px){

    .barra{
        flex-direction: row;
        align-items: center;
        height: 65px ;
        width: 480px;
    }

    .barra img {
        height: 100%;
        width:55px;
    }

    .texto {
        height: 850px;
    }
    .pie-de-pag {
        width: 480px;
    }

    .fotos {
        margin-left: 0;
        justify-content: center;
    }
}